In [2]:
from powerbiclient import QuickVisualize, get_dataset_config, Report
from powerbiclient.authentication import DeviceCodeLoginAuthentication
from powerbiclient import Report, models
import pandas as pd
import psycopg2
import json

In [3]:
device_auth = DeviceCodeLoginAuthentication()

Performing device flow authentication. Please follow the instructions below.
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code BQTQEE82R to authenticate.

Device flow authentication successfully completed.
You are now logged in .

The result should be passed only to trusted code in your notebook.

In [10]:
import psycopg2
import pandas as pd
import json

def consultar_datos(filename, db_name, table_name):
    try:
        with open(filename, 'r') as file:
            config = json.load(file)

        connection = psycopg2.connect(
            host=config["host"],
            user=config["user"],
            password=config["password"],
            dbname=db_name
        )

        query = f"SELECT * FROM {table_name}"
        water = pd.read_sql(query, connection)

        return water  # Devolver el DataFrame
    except (Exception, psycopg2.DatabaseError) as error:
        print(f"Error al consultar datos: {error}")
        return None  # Devolver None en caso de error
    finally:
        if connection:
            connection.close()

if __name__ == "__main__":
    filename = 'db_config.json'
    db_name = 'db_water'
    table_name = 'water_table'
    water = consultar_datos(filename, db_name, table_name)  

    if water is not None:
        print(water.head())  # Imprimir las primeras filas del DataFrame

C:\Users\PAO\AppData\Local\Temp\ipykernel_17776\1698179622.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  water = pd.read_sql(query, connection)

          Año NombreDepartamento  Div_dpto NombreMunicipio  Divi_muni  \
0  2010-01-01            Bolívar        13        El Guamo      13248
1  2010-01-01            Bolívar        13        El Guamo      13248
2  2010-01-01            Bolívar        13        El Guamo      13248
3  2010-01-01            Bolívar        13        El Guamo      13248
4  2010-01-01            Bolívar        13        El Guamo      13248

   IrcaMinimo  IrcaMaximo  IrcaPromedio NombreParametroAnalisis2  \
0         0.0       100.0         37.32        Alcanilidad Total
1         0.0       100.0         37.32                 Aluminio
2         0.0       100.0         37.32                 Arsénico
3         0.0       100.0         37.32                   Cadmio
4         0.0       100.0         37.32                   Calcio

   MuestrasEvaluadas  NumeroParametrosMinimo  NumeroParametrosMaximo  \
0                 67                       2                       7
1                 67                       2                       7
2                 67                       2                       7
3                 67                       2                       7
4                 67                       2                       7

   NumeroParametrosPromedio  ResultadoMinimo  ResultadoMaximo  \
0                         2             23.0             23.0
1                         2              NaN              NaN
2                         2              NaN              NaN
3                         2              NaN              NaN
4                         2             14.0             14.0

   ResultadoPromedio
0               23.0
1                NaN
2                NaN
3                NaN
4               14.0

In [6]:
water = pd.read_csv('water_cleaned.csv', sep=',')

In [7]:
water.head()

,año,nombre_departamento,div_dpto,nombre_municipio,divi_muni,irca_minimo,irca_maximo,irca_promedio,nombre_parametro_analisis2,numero_parametros_promedio,rango_irca,porcentaje_muestras_tratadas,diferencia_muestras_tratadas_sin_tratar,rango_parametros_analizados
0,2010-01-01,Bolivar,13,El Guamo,13248,0.0,100.0,37.32,Alcanilidad Total,2,No clasificado,100.0,67,5
1,2010-01-01,Bolivar,13,El Guamo,13248,0.0,100.0,37.32,Cromo total,2,No clasificado,100.0,67,5
2,2010-01-01,Bolivar,13,El Guamo,13248,0.0,100.0,37.32,Dureza total,2,No clasificado,100.0,67,5
3,2010-01-01,Bolivar,13,El Guamo,13248,0.0,100.0,37.32,E.coli,2,No clasificado,100.0,67,5
4,2010-01-01,Bolivar,13,El Guamo,13248,0.0,100.0,37.32,Fluoruros,2,No clasificado,100.0,67,5

In [10]:
tabla = water[['nombre_departamento', 'nombre_municipio', 'irca_promedio']]
print(tabla)

       nombre_departamento nombre_municipio  irca_promedio
0                  Bolivar         El Guamo          37.32
1                  Bolivar         El Guamo          37.32
2                  Bolivar         El Guamo          37.32
3                  Bolivar         El Guamo          37.32
4                  Bolivar         El Guamo          37.32
...                    ...              ...            ...
142765           Antioquia         Medellin           2.11
142766           Antioquia         Medellin           2.11
142767           Antioquia         Medellin           2.11
142768           Antioquia         Medellin           2.11
142769           Antioquia         Medellin           2.11

[142770 rows x 3 columns]

In [11]:
tabla_irca_promedio = water.groupby('nombre_departamento')['irca_promedio'].mean().reset_index()

# Imprimimos todos los resultados
print(tabla_irca_promedio)

                                  nombre_departamento  irca_promedio
0                                            Amazonas      27.364167
1                                           Antioquia       8.576561
2                                              Arauca       1.967778
3   Archipielago De San Andres, Providencia Y Sant...      24.171111
4                                           Atlantico       9.465217
5                                        Bogota, D.C.       7.980000
6                                             Bolivar      39.019778
7                                              Boyaca      30.270271
8                                              Caldas      52.241687
9                                             Caqueta      17.385775
10                                           Casanare      25.332807
11                                              Cauca      20.877709
12                                              Cesar      25.570580
13                                              Choco      55.492564
14                                            Cordoba      21.128289
15                                       Cundinamarca       9.336303
16                                            Guainia      52.198750
17                                           Guaviare      13.044000
18                                              Huila      47.746937
19                                         La Guajira      18.877712
20                                          Magdalena      38.457519
21                                               Meta      30.607814
22                                             Narino      45.261955
23                                 Norte De Santander      22.221457
24                                           Putumayo      45.160360
25                                            Quindio       3.447315
26                                          Risaralda      23.235873
27                                          Santander      16.223084
28                                              Sucre      21.563664
29                                             Tolima      24.101506
30                                    Valle Del Cauca      21.414718
31                                             Vaupes      49.185000
32                                            Vichada      20.567714

In [8]:
PBI_visualize = QuickVisualize(get_dataset_config(water), auth=device_auth)

In [9]:
PBI_visualize

QuickVisualize()

In [ ]:
group_id="6992ceb5-f515-4523-9dbd-74f8a6a6b474"
report_id="8c89e0db-8dc1-48b7-a068-cd1761e837ab"

In [ ]:
report = Report(group_id=group_id, report_id=report_id, auth=device_auth)
report