In [70]:
from sqlalchemy import create_engine

def get_engine():
    engine = create_engine('mysql+pymysql://root:Scout104@localhost:3306/database_etl')
    return engine
if __name__ == '__main__':
    engine = get_engine()
    print(engine)

Engine(mysql+pymysql://root:***@localhost:3306/database_etl)

In [71]:

# Celda para el análisis de datos
import pandas as pd

# Obtiene la conexión a la base de datos
engine = get_engine()

#Consulta la tabla y carga los datos en un DataFrame de Pandas
query = "SELECT * FROM table_water WHERE IrcaPromedio != 0"
water = pd.read_sql(query, con=engine)

# Muestra los primeros registros del DataFrame
print(water.head())

    Año NombreDepartamento  Div_dpto NombreMunicipio  Divi_muni IrcaMinimo2  \
0  2010            Bolívar        13        El Guamo      13248           0
1  2010            Bolívar        13        El Guamo      13248           0
2  2010            Bolívar        13        El Guamo      13248           0
3  2010            Bolívar        13        El Guamo      13248           0
4  2010            Bolívar        13        El Guamo      13248           0

  IrcaMaximo IrcaPromedio NombreParametroAnalisis2  MuestrasEvaluadas  ...  \
0        100        37,32        Alcanilidad Total                 67  ...
1        100        37,32                 Aluminio                 67  ...
2        100        37,32                 Arsénico                 67  ...
3        100        37,32                   Cadmio                 67  ...
4        100        37,32                   Calcio                 67  ...

   NumeroParametrosMinimo  NumeroParametrosMaximo  NumeroParametrosPromedio  \
0                       2                       7                         2
1                       2                       7                         2
2                       2                       7                         2
3                       2                       7                         2
4                       2                       7                         2

   NumeroMuestras  MuestrasNoAptas  PorcentajeNoAptas  ResultadoMinimo  \
0               1                0                  0               23
1               0                0                  0             None
2               0                0                  0             None
3               0                0                  0             None
4               1                0                  0               14

  ResultadoMaximo ResultadoPromedio      Codigo
0              23                23  13El Guamo
1            None              None  13El Guamo
2            None              None  13El Guamo
3            None              None  13El Guamo
4              14                14  13El Guamo

[5 rows x 22 columns]
ResultadoMinimo      232190
ResultadoMaximo      232190
ResultadoPromedio    232190
dtype: int64

In [72]:
# Consulta las primeras 10 filas de la tabla y las carga en un DataFrame de Pandas
query = "SELECT * FROM table_water LIMIT 10"
first_lines = pd.read_sql(query, con=engine)

# Muestra las primeras 10 filas
print(first_lines)

    Año NombreDepartamento  Div_dpto NombreMunicipio  Divi_muni IrcaMinimo2  \
0  2010            Bolívar        13        El Guamo      13248           0
1  2010            Bolívar        13        El Guamo      13248           0
2  2010            Bolívar        13        El Guamo      13248           0
3  2010            Bolívar        13        El Guamo      13248           0
4  2010            Bolívar        13        El Guamo      13248           0
5  2010            Bolívar        13        El Guamo      13248           0
6  2010            Bolívar        13        El Guamo      13248           0
7  2010            Bolívar        13        El Guamo      13248           0
8  2010            Bolívar        13        El Guamo      13248           0
9  2010            Bolívar        13        El Guamo      13248           0

  IrcaMaximo IrcaPromedio     NombreParametroAnalisis2  MuestrasEvaluadas  \
0        100        37,32            Alcanilidad Total                 67
1        100        37,32                     Aluminio                 67
2        100        37,32                     Arsénico                 67
3        100        37,32                       Cadmio                 67
4        100        37,32                       Calcio                 67
5        100        37,32  Cianuro libre y diasociable                 67
6        100        37,32         Cloro residual libre                 67
7        100        37,32                     Cloruros                 67
8        100        37,32                        Cobre                 67
9        100        37,32           Coliformes totales                 67

   ...  NumeroParametrosMinimo  NumeroParametrosMaximo  \
0  ...                       2                       7
1  ...                       2                       7
2  ...                       2                       7
3  ...                       2                       7
4  ...                       2                       7
5  ...                       2                       7
6  ...                       2                       7
7  ...                       2                       7
8  ...                       2                       7
9  ...                       2                       7

   NumeroParametrosPromedio  NumeroMuestras  MuestrasNoAptas  \
0                         2               1                0
1                         2               0                0
2                         2               0                0
3                         2               0                0
4                         2               1                0
5                         2               0                0
6                         2               0                0
7                         2               1                0
8                         2               0                0
9                         2              30               24

   PorcentajeNoAptas  ResultadoMinimo ResultadoMaximo ResultadoPromedio  \
0                  0               23              23                23
1                  0             None            None              None
2                  0             None            None              None
3                  0             None            None              None
4                  0               14              14                14
5                  0             None            None              None
6                  0             None            None              None
7                  0              5,2             5,2               5,2
8                  0             None            None              None
9                 80                0              80             11,23

       Codigo
0  13El Guamo
1  13El Guamo
2  13El Guamo
3  13El Guamo
4  13El Guamo
5  13El Guamo
6  13El Guamo
7  13El Guamo
8  13El Guamo
9  13El Guamo

[10 rows x 22 columns]

Leeimos las 10 primeras líneas del archivo muestran que:
•	El archivo utiliza ; (punto y coma) como delimitador.
•	Las líneas siguientes contienen datos, pero notamos que hay campos vacíos representados por la ausencia de valores entre los delimitadores (por ejemplo, ;;;;), lo que puede haber causado el problema de lectura inicial.

In [ ]:
water.info()

In [ ]:
water.describe()

Nos asegurándonos  que las columnas categoricas estén formateados consistentemente:

In [ ]:
# Capitalizar de manera uniforme y limpiar espacios extra
water['NombreDepartamento'] = water['NombreDepartamento'].str.title().str.strip()
water['NombreMunicipio'] = water['NombreMunicipio'].str.title().str.strip()

# Revisar nuevamente las primeras filas para confirmar los cambios
water.head()

Convertimos todos los nombres a un formato estándar  y eliminamos espacios al inicio y al final, y reduciremos los espacios múltiples a uno solo.

Analizando valores faltantes:

In [73]:
# Identificar y cuantificar los valores faltantes por columna
missing_values = water.isnull().sum()

# Filtramos para mostrar solo las columnas con valores faltantes
missing_values = missing_values[missing_values > 0]

missing_values

ResultadoMinimo      63.935478
ResultadoMaximo      63.935478
ResultadoPromedio    63.935478
dtype: float64

Las columnas ResultadoMinimo, ResultadoMaximo y ResultadoPromedio tienen valores faltantes, con un total de 262,361 valores faltantes en cada una. Esto sugiere que hay muchas mediciones en las que estos resultados no se proporcionaron o no aplican.

In [ ]:
# Calculamos el porcentaje de valores faltantes por cada una de las columnas especificadas
missing_percentage = water[['ResultadoMinimo', 'ResultadoMaximo', 'ResultadoPromedio']].isnull().mean() * 100

# Mostramos el resultado
print(missing_percentage)


 realizamos un análisis de la distribución de los valores existentes en ResultadoMinimo, ResultadoMaximo, y ResultadoPromedio para entender mejor estos datos:

In [74]:
# Análisis descriptivo de las columnas con valores faltantes para entender su distribución
descriptive_stats = water[['ResultadoMinimo', 'ResultadoMaximo', 'ResultadoPromedio']].describe()

descriptive_stats

       ResultadoMinimo ResultadoMaximo ResultadoPromedio
count           130973          130973            130973
unique            3642            8251             16909
top                  0               0                 0
freq             50007           13483             14498

La distribución de los valores en las columnas ResultadoMinimo, ResultadoMaximo, y ResultadoPromedio muestra una amplia gama de valores, desde negativos hasta positivos muy grandes, lo que indica una variabilidad significativa en los datos

Realizaremos un análisis para ver si hay alguna correlación entre las filas con datos faltantes y otras variables. Esto nos ayudaría a entender si los datos faltantes están relacionados con otras características de los datos:

In [75]:
# Creamos una columna binaria para indicar la presencia de valores faltantes en las columnas de interés
water['missing_values'] = water[['ResultadoMinimo', 'ResultadoMaximo', 'ResultadoPromedio']].isnull().any(axis=1)

# Calculamos la correlación de esta columna con todas las demás
correlation_with_missing = water.corr()['missing_values'].sort_values()

# Mostramos las correlaciones, excluyendo la correlación de la columna con ella misma
correlation_with_missing = correlation_with_missing.drop('missing_values')

# Gráfico de barras de las correlaciones
plt.figure(figsize=(10, 8))
correlation_with_missing.plot(kind='bar')
plt.title('Correlación de la presencia de valores faltantes con otras columnas')
plt.xlabel('Columnas')
plt.ylabel('Correlación con valores faltantes')
plt.show()

NumeroMuestras             -0.233502
NumeroParametrosMaximo     -0.231124
MuestrasNoAptas            -0.199938
NumeroParametrosPromedio   -0.164568
NumeroParametrosMinimo     -0.067111
MuestrasTratadas           -0.033818
MuestrasEvaluadas          -0.031457
MuestrasSinTratar          -0.001355
Divi_muni                   0.012727
Div_dpto                    0.013504
Año                         0.071342
Name: missing_values, dtype: float64

Los resultados de la correlación muestran que no hay ninguna correlación fuerte con la presencia de valores faltantes, ya que los valores son relativamente bajos. Esto sugiere que los valores faltantes pueden no estar sistemáticamente relacionados con otras variables numéricas en nuestro dataset.

Volvemos a revisar que no se presenten mas valores faltantes:

In [77]:
# Contar valores faltantes por columna
water_faltantes = water.isnull().sum()

# Mostrar el número de valores faltantes por columna
water_faltantes[water_faltantes > 0]

Series([], dtype: int64)

Investigación de filas duplicadas:

In [79]:
filas_duplicadas_antes = water.duplicated().sum()

water = water.drop_duplicates()

filas_duplicadas_despues = water.duplicated().sum()

filas_duplicadas_antes, filas_duplicadas_despues

(0, 0)

No se encontraron filas duplicadas en el dataset

 Verificación de los tipos de datos de las columnas para asegurar que coincidan con el contenido que albergan.

In [81]:
tipos_datos_actuales = water.dtypes

tipos_datos_actuales

Año                          int64
NombreDepartamento          object
Div_dpto                     int64
NombreMunicipio             object
Divi_muni                    int64
IrcaMinimo2                 object
IrcaMaximo                  object
IrcaPromedio                object
NombreParametroAnalisis2    object
MuestrasEvaluadas            int64
MuestrasTratadas             int64
MuestrasSinTratar            int64
NumeroParametrosMinimo       int64
NumeroParametrosMaximo       int64
NumeroParametrosPromedio     int64
NumeroMuestras               int64
MuestrasNoAptas              int64
PorcentajeNoAptas           object
Codigo                      object
missing_values                bool
dtype: object

Cambiar tipo de dato año

In [65]:
water['Año'] = pd.to_datetime(water['Año'], format='%Y')

water.dtypes

Año                         datetime64[ns]
NombreDepartamento                  object
Div_dpto                             int64
NombreMunicipio                     object
Divi_muni                            int64
IrcaMinimo2                         object
IrcaMaximo                          object
IrcaPromedio                        object
NombreParametroAnalisis2            object
MuestrasEvaluadas                    int64
MuestrasTratadas                     int64
MuestrasSinTratar                    int64
NumeroParametrosMinimo               int64
NumeroParametrosMaximo               int64
NumeroParametrosPromedio             int64
NumeroMuestras                       int64
MuestrasNoAptas                      int64
PorcentajeNoAptas                   object
Codigo                              object
missing_values                        bool
dtype: object

In [66]:
%pip install unidecode
import pandas as pd
from unidecode import unidecode

# Aplicar 'unidecode' a todas las columnas de texto del DataFrame
for col in water.select_dtypes(include=['object']).columns:
    water[col] = water[col].apply(lambda x: unidecode(x) if isinstance(x, str) else x)

# Ahora puedes revisar tu DataFrame y luego guardarlo
water.head()

,Año,NombreDepartamento,NombreMunicipio,IrcaMinimo2,IrcaMaximo,IrcaPromedio,NombreParametroAnalisis2,MuestrasEvaluadas,MuestrasTratadas,MuestrasSinTratar,NumeroParametrosMinimo,NumeroParametrosMaximo,NumeroParametrosPromedio,NumeroMuestras,MuestrasNoAptas
0,2010-01-01,Bolívar,El Guamo,0,100,"37,32",Alcanilidad Total,67,67,0,2,7,2,1,0
1,2010-01-01,Bolívar,El Guamo,0,100,"37,32",Aluminio,67,67,0,2,7,2,0,0
2,2010-01-01,Bolívar,El Guamo,0,100,"37,32",Arsénico,67,67,0,2,7,2,0,0
3,2010-01-01,Bolívar,El Guamo,0,100,"37,32",Cadmio,67,67,0,2,7,2,0,0
4,2010-01-01,Bolívar,El Guamo,0,100,"37,32",Calcio,67,67,0,2,7,2,1,0