In [70]:
from sqlalchemy import create_engine

def get_engine():
    engine = create_engine('mysql+pymysql://root:Scout104@localhost:3306/database_etl')
    return engine
if __name__ == '__main__':
    engine = get_engine()
    print(engine)

Engine(mysql+pymysql://root:***@localhost:3306/database_etl)

In [71]:

# Celda para el análisis de datos
import pandas as pd

# Obtiene la conexión a la base de datos
engine = get_engine()

#Consulta la tabla y carga los datos en un DataFrame de Pandas
query = "SELECT * FROM table_water WHERE IrcaPromedio != 0"
water = pd.read_sql(query, con=engine)

# Muestra los primeros registros del DataFrame
print(water.head())

    Año NombreDepartamento  Div_dpto NombreMunicipio  Divi_muni IrcaMinimo2  \
0  2010            Bolívar        13        El Guamo      13248           0
1  2010            Bolívar        13        El Guamo      13248           0
2  2010            Bolívar        13        El Guamo      13248           0
3  2010            Bolívar        13        El Guamo      13248           0
4  2010            Bolívar        13        El Guamo      13248           0

  IrcaMaximo IrcaPromedio NombreParametroAnalisis2  MuestrasEvaluadas  ...  \
0        100        37,32        Alcanilidad Total                 67  ...
1        100        37,32                 Aluminio                 67  ...
2        100        37,32                 Arsénico                 67  ...
3        100        37,32                   Cadmio                 67  ...
4        100        37,32                   Calcio                 67  ...

   NumeroParametrosMinimo  NumeroParametrosMaximo  NumeroParametrosPromedio  \
0                       2                       7                         2
1                       2                       7                         2
2                       2                       7                         2
3                       2                       7                         2
4                       2                       7                         2

   NumeroMuestras  MuestrasNoAptas  PorcentajeNoAptas  ResultadoMinimo  \
0               1                0                  0               23
1               0                0                  0             None
2               0                0                  0             None
3               0                0                  0             None
4               1                0                  0               14

  ResultadoMaximo ResultadoPromedio      Codigo
0              23                23  13El Guamo
1            None              None  13El Guamo
2            None              None  13El Guamo
3            None              None  13El Guamo
4              14                14  13El Guamo

[5 rows x 22 columns]
ResultadoMinimo      232190
ResultadoMaximo      232190
ResultadoPromedio    232190
dtype: int64

In [72]:
# Consulta las primeras 10 filas de la tabla y las carga en un DataFrame de Pandas
query = "SELECT * FROM table_water LIMIT 10"
first_lines = pd.read_sql(query, con=engine)

# Muestra las primeras 10 filas
print(first_lines)

    Año NombreDepartamento  Div_dpto NombreMunicipio  Divi_muni IrcaMinimo2  \
0  2010            Bolívar        13        El Guamo      13248           0
1  2010            Bolívar        13        El Guamo      13248           0
2  2010            Bolívar        13        El Guamo      13248           0
3  2010            Bolívar        13        El Guamo      13248           0
4  2010            Bolívar        13        El Guamo      13248           0
5  2010            Bolívar        13        El Guamo      13248           0
6  2010            Bolívar        13        El Guamo      13248           0
7  2010            Bolívar        13        El Guamo      13248           0
8  2010            Bolívar        13        El Guamo      13248           0
9  2010            Bolívar        13        El Guamo      13248           0

  IrcaMaximo IrcaPromedio     NombreParametroAnalisis2  MuestrasEvaluadas  \
0        100        37,32            Alcanilidad Total                 67
1        100        37,32                     Aluminio                 67
2        100        37,32                     Arsénico                 67
3        100        37,32                       Cadmio                 67
4        100        37,32                       Calcio                 67
5        100        37,32  Cianuro libre y diasociable                 67
6        100        37,32         Cloro residual libre                 67
7        100        37,32                     Cloruros                 67
8        100        37,32                        Cobre                 67
9        100        37,32           Coliformes totales                 67

   ...  NumeroParametrosMinimo  NumeroParametrosMaximo  \
0  ...                       2                       7
1  ...                       2                       7
2  ...                       2                       7
3  ...                       2                       7
4  ...                       2                       7
5  ...                       2                       7
6  ...                       2                       7
7  ...                       2                       7
8  ...                       2                       7
9  ...                       2                       7

   NumeroParametrosPromedio  NumeroMuestras  MuestrasNoAptas  \
0                         2               1                0
1                         2               0                0
2                         2               0                0
3                         2               0                0
4                         2               1                0
5                         2               0                0
6                         2               0                0
7                         2               1                0
8                         2               0                0
9                         2              30               24

   PorcentajeNoAptas  ResultadoMinimo ResultadoMaximo ResultadoPromedio  \
0                  0               23              23                23
1                  0             None            None              None
2                  0             None            None              None
3                  0             None            None              None
4                  0               14              14                14
5                  0             None            None              None
6                  0             None            None              None
7                  0              5,2             5,2               5,2
8                  0             None            None              None
9                 80                0              80             11,23

       Codigo
0  13El Guamo
1  13El Guamo
2  13El Guamo
3  13El Guamo
4  13El Guamo
5  13El Guamo
6  13El Guamo
7  13El Guamo
8  13El Guamo
9  13El Guamo

[10 rows x 22 columns]

Leeimos las 10 primeras líneas del archivo muestran que:
•	El archivo utiliza ; (punto y coma) como delimitador.
•	Las líneas siguientes contienen datos, pero notamos que hay campos vacíos representados por la ausencia de valores entre los delimitadores (por ejemplo, ;;;;), lo que puede haber causado el problema de lectura inicial.

In [ ]:
water.info()

In [ ]:
water.describe()

Nos asegurándonos  que las columnas categoricas estén formateados consistentemente:

In [ ]:
# Capitalizar de manera uniforme y limpiar espacios extra
water['NombreDepartamento'] = water['NombreDepartamento'].str.title().str.strip()
water['NombreMunicipio'] = water['NombreMunicipio'].str.title().str.strip()

# Revisar nuevamente las primeras filas para confirmar los cambios
water.head()

Convertimos todos los nombres a un formato estándar  y eliminamos espacios al inicio y al final, y reduciremos los espacios múltiples a uno solo.

In [73]:
# Calculamos el porcentaje de valores faltantes por cada una de las columnas especificadas
missing_percentage = data[['ResultadoMinimo', 'ResultadoMaximo', 'ResultadoPromedio']].isnull().mean() * 100

# Mostramos el resultado
print(missing_percentage)

ResultadoMinimo      63.935478
ResultadoMaximo      63.935478
ResultadoPromedio    63.935478
dtype: float64

Las columnas ResultadoMinimo, ResultadoMaximo y ResultadoPromedio tienen valores faltantes, con un total de 262,361 valores faltantes en cada una. Esto sugiere que hay muchas mediciones en las que estos resultados no se proporcionaron o no aplican.

Para tomar una decisión informada sobre cómo manejar los valores faltantes en las columnas ResultadoMinimo, ResultadoMaximo. Identificams que primero debemos realizar un análisis de la distribución de los valores existentes en ResultadoMinimo, ResultadoMaximo, y ResultadoPromedio para entender mejor estos datos.

In [74]:
# Análisis descriptivo de las columnas con valores faltantes para entender su distribución
descriptive_stats = data[['ResultadoMinimo', 'ResultadoMaximo', 'ResultadoPromedio']].describe()

descriptive_stats

       ResultadoMinimo ResultadoMaximo ResultadoPromedio
count           130973          130973            130973
unique            3642            8251             16909
top                  0               0                 0
freq             50007           13483             14498

La distribución de los valores en las columnas ResultadoMinimo, ResultadoMaximo, y ResultadoPromedio muestra una amplia gama de valores, desde negativos hasta positivos muy grandes, lo que indica una variabilidad significativa en los datos

Realizaremos un análisis para ver si hay alguna correlación entre las filas con datos faltantes y otras variables. Esto nos ayudaría a entender si los datos faltantes están relacionados con otras características de los datos:

In [75]:
# Creamos una columna binaria para indicar la presencia de valores faltantes en las columnas de interés
data['missing_values'] = data[['ResultadoMinimo', 'ResultadoMaximo', 'ResultadoPromedio']].isnull().any(axis=1)

# Seleccionamos solo las columnas numéricas para el cálculo de la correlación
numeric_data = data.select_dtypes(include=[float, int])

# Agregamos explícitamente la columna 'missing_values' al DataFrame numérico
numeric_data['missing_values'] = data['missing_values']

# Calculamos la correlación de la columna 'missing_values' con todas las demás columnas numéricas
correlation_with_missing = numeric_data.corr()['missing_values'].sort_values()

# Mostramos las correlaciones, excluyendo la correlación de la columna con ella misma
correlation_with_missing = correlation_with_missing.drop('missing_values')

print(correlation_with_missing)

NumeroMuestras             -0.233502
NumeroParametrosMaximo     -0.231124
MuestrasNoAptas            -0.199938
NumeroParametrosPromedio   -0.164568
NumeroParametrosMinimo     -0.067111
MuestrasTratadas           -0.033818
MuestrasEvaluadas          -0.031457
MuestrasSinTratar          -0.001355
Divi_muni                   0.012727
Div_dpto                    0.013504
Año                         0.071342
Name: missing_values, dtype: float64

Los resultados de la correlación muestran que no hay ninguna correlación fuerte con la presencia de valores faltantes, ya que los valores son relativamente bajos. Esto sugiere que los valores faltantes pueden no estar sistemáticamente relacionados con otras variables numéricas en nuestro dataset.

La presencia de valores extremadamente altos en estas columnas sugiere la posibilidad de errores de medición o de registro, o bien la existencia de eventos anómalos que no son representativos del comportamiento típico esperado. El mantenimiento de estas columnas podría introducir un sesgo significativo en cualquier análisis predictivo o descriptivo futuro.

Es por ello que la eliminación de las columnas ResultadoMinimo, ResultadoMaximo, y ResultadoPromedio se justifica por la necesidad de asegurar la integridad y confiabilidad del análisis de datos. Dado que el conjunto de datos restante aún proporciona información suficiente para los propósitos del análisis y la toma de decisiones

In [76]:
# Eliminar las columnas especificadas
data = data.drop(['ResultadoMinimo', 'ResultadoMaximo', 'ResultadoPromedio'], axis=1)

Volvemos a revisar que no se presenten mas valores faltantes:

In [77]:
# Contar valores faltantes por columna
valores_faltantes = data.isnull().sum()

# Mostrar el número de valores faltantes por columna
valores_faltantes[valores_faltantes > 0]

Series([], dtype: int64)

El resultado fue que no se presentan mas datos faltantes lo cual es gratificante al darnos cuenta que los materiores paso tuvieron el resultado esperado

Ahora empezaremos un siguiente paso en la limpieza, nos asegurándonos de que los nombres de los departamentos y municipios estén formateados consistentemente. Esto incluye desarrollar :

1.Capitalización uniforme: Convertiremos todos los nombres a un formato estándar (por ejemplo, título o mayúsculas).
2.Espacios extra: Eliminaremos espacios al inicio y al final, y reduciremos los espacios múltiples a uno solo.

In [78]:
# Capitalizar de manera uniforme y limpiar espacios extra
data['NombreDepartamento'] = data['NombreDepartamento'].str.title().str.strip()
data['NombreMunicipio'] = data['NombreMunicipio'].str.title().str.strip()

# Revisar nuevamente las primeras filas para confirmar los cambios
data.head()

,Año,NombreDepartamento,Div_dpto,NombreMunicipio,Divi_muni,IrcaMinimo2,IrcaMaximo,IrcaPromedio,NombreParametroAnalisis2,MuestrasEvaluadas,MuestrasTratadas,MuestrasSinTratar,NumeroParametrosMinimo,NumeroParametrosMaximo,NumeroParametrosPromedio,NumeroMuestras,MuestrasNoAptas,PorcentajeNoAptas,Codigo,missing_values
0,2010,Bolívar,13,El Guamo,13248,0,100,"37,32",Alcanilidad Total,67,67,0,2,7,2,1,0,0,13El Guamo,False
1,2010,Bolívar,13,El Guamo,13248,0,100,"37,32",Aluminio,67,67,0,2,7,2,0,0,0,13El Guamo,True
2,2010,Bolívar,13,El Guamo,13248,0,100,"37,32",Arsénico,67,67,0,2,7,2,0,0,0,13El Guamo,True
3,2010,Bolívar,13,El Guamo,13248,0,100,"37,32",Cadmio,67,67,0,2,7,2,0,0,0,13El Guamo,True
4,2010,Bolívar,13,El Guamo,13248,0,100,"37,32",Calcio,67,67,0,2,7,2,1,0,0,13El Guamo,False

Como siguiente paso vamos a verificar si hay filas duplicadas en el conjunto de datos y eliminarlas si es necesario. esto lo hacemos ya que duplicados pueden distorsionar nuestro análisis, llevando a conclusiones incorrectas debido a la sobre-representación de ciertos datos.

In [79]:
# Contar filas duplicadas antes de la eliminación
filas_duplicadas_antes = data.duplicated().sum()

# Eliminar filas duplicadas
data = data.drop_duplicates()

# Contar filas duplicadas después de la eliminación para confirmar
filas_duplicadas_despues = data.duplicated().sum()

filas_duplicadas_antes, filas_duplicadas_despues

(0, 0)

No se encontraron filas duplicadas en el dataset

Ahora vamos a verificar y ajustar los tipos de datos de las columnas para asegurar que coincidan con el contenido que albergan. Esto es importante porque un tipo de dato incorrecto puede llevar a errores o ineficiencias en el análisis de los datos.

In [81]:
# Revisar los tipos de datos actuales de las columnas
tipos_datos_actuales = data.dtypes

tipos_datos_actuales

Año                          int64
NombreDepartamento          object
Div_dpto                     int64
NombreMunicipio             object
Divi_muni                    int64
IrcaMinimo2                 object
IrcaMaximo                  object
IrcaPromedio                object
NombreParametroAnalisis2    object
MuestrasEvaluadas            int64
MuestrasTratadas             int64
MuestrasSinTratar            int64
NumeroParametrosMinimo       int64
NumeroParametrosMaximo       int64
NumeroParametrosPromedio     int64
NumeroMuestras               int64
MuestrasNoAptas              int64
PorcentajeNoAptas           object
Codigo                      object
missing_values                bool
dtype: object

Cambiar tipo de dato año

In [65]:
# Cambiar el tipo de dato de la columna 'Año' de int64 a datetime
# Dado que solo tenemos el año, asumiremos el primer día de ese año para la conversión
data['Año'] = pd.to_datetime(data['Año'], format='%Y')

# Mostrar los tipos de datos para confirmar el cambio
data.dtypes

Año                         datetime64[ns]
NombreDepartamento                  object
Div_dpto                             int64
NombreMunicipio                     object
Divi_muni                            int64
IrcaMinimo2                         object
IrcaMaximo                          object
IrcaPromedio                        object
NombreParametroAnalisis2            object
MuestrasEvaluadas                    int64
MuestrasTratadas                     int64
MuestrasSinTratar                    int64
NumeroParametrosMinimo               int64
NumeroParametrosMaximo               int64
NumeroParametrosPromedio             int64
NumeroMuestras                       int64
MuestrasNoAptas                      int64
PorcentajeNoAptas                   object
Codigo                              object
missing_values                        bool
dtype: object

In [66]:
# Lista de columnas a eliminar
columns_to_drop = ['Codigo', 'PorcentajeNoAptas', 'missing_values', 'Div_dpto', 'Divi_muni']

# Eliminar solo las columnas que existen en el DataFrame
data = data.drop(columns=[col for col in columns_to_drop if col in data.columns])

# Mostrar las primeras filas para confirmar la eliminación
data.head()

,Año,NombreDepartamento,NombreMunicipio,IrcaMinimo2,IrcaMaximo,IrcaPromedio,NombreParametroAnalisis2,MuestrasEvaluadas,MuestrasTratadas,MuestrasSinTratar,NumeroParametrosMinimo,NumeroParametrosMaximo,NumeroParametrosPromedio,NumeroMuestras,MuestrasNoAptas
0,2010-01-01,Bolívar,El Guamo,0,100,"37,32",Alcanilidad Total,67,67,0,2,7,2,1,0
1,2010-01-01,Bolívar,El Guamo,0,100,"37,32",Aluminio,67,67,0,2,7,2,0,0
2,2010-01-01,Bolívar,El Guamo,0,100,"37,32",Arsénico,67,67,0,2,7,2,0,0
3,2010-01-01,Bolívar,El Guamo,0,100,"37,32",Cadmio,67,67,0,2,7,2,0,0
4,2010-01-01,Bolívar,El Guamo,0,100,"37,32",Calcio,67,67,0,2,7,2,1,0

In [67]:

## Elimina las filas donde la columna 'IrcaPromedio' es igual a 0
data = data[data['IrcaPromedio'] != 0]

# Muestra las primeras filas del DataFrame modificado
print(data.head())

         Año NombreDepartamento NombreMunicipio IrcaMinimo2 IrcaMaximo  \
0 2010-01-01            Bolívar        El Guamo           0        100
1 2010-01-01            Bolívar        El Guamo           0        100
2 2010-01-01            Bolívar        El Guamo           0        100
3 2010-01-01            Bolívar        El Guamo           0        100
4 2010-01-01            Bolívar        El Guamo           0        100

  IrcaPromedio NombreParametroAnalisis2  MuestrasEvaluadas  MuestrasTratadas  \
0        37,32        Alcanilidad Total                 67                67
1        37,32                 Aluminio                 67                67
2        37,32                 Arsénico                 67                67
3        37,32                   Cadmio                 67                67
4        37,32                   Calcio                 67                67

   MuestrasSinTratar  NumeroParametrosMinimo  NumeroParametrosMaximo  \
0                  0                       2                       7
1                  0                       2                       7
2                  0                       2                       7
3                  0                       2                       7
4                  0                       2                       7

   NumeroParametrosPromedio  NumeroMuestras  MuestrasNoAptas
0                         2               1                0
1                         2               0                0
2                         2               0                0
3                         2               0                0
4                         2               1                0

Se decide eliminar todas las filas en las que su IRCA promedio sea 0 debido a que al analizar el dataset vemos que tiene relacion con lugares de estudio donde no se pudieron tomar muestras y de las cuales no se tiene informacion y por ende no se les pudo realizar el estudio pertinente

In [68]:
import pandas as pd
from unidecode import unidecode

# Aplicar 'unidecode' a todas las columnas de texto del DataFrame
for col in data.select_dtypes(include=['object']).columns:
    data[col] = data[col].apply(lambda x: unidecode(x) if isinstance(x, str) else x)

# Ahora puedes revisar tu DataFrame y luego guardarlo
data.head()

,Año,NombreDepartamento,NombreMunicipio,IrcaMinimo2,IrcaMaximo,IrcaPromedio,NombreParametroAnalisis2,MuestrasEvaluadas,MuestrasTratadas,MuestrasSinTratar,NumeroParametrosMinimo,NumeroParametrosMaximo,NumeroParametrosPromedio,NumeroMuestras,MuestrasNoAptas
0,2010-01-01,Bolivar,El Guamo,0,100,"37,32",Alcanilidad Total,67,67,0,2,7,2,1,0
1,2010-01-01,Bolivar,El Guamo,0,100,"37,32",Aluminio,67,67,0,2,7,2,0,0
2,2010-01-01,Bolivar,El Guamo,0,100,"37,32",Arsenico,67,67,0,2,7,2,0,0
3,2010-01-01,Bolivar,El Guamo,0,100,"37,32",Cadmio,67,67,0,2,7,2,0,0
4,2010-01-01,Bolivar,El Guamo,0,100,"37,32",Calcio,67,67,0,2,7,2,1,0

In [69]:
# Agrupar por 'NombreParametroAnalisis2' y calcular el promedio de 'IrcaPromedio'
parametros_influencia = data.groupby('NombreParametroAnalisis2')['IrcaPromedio'].mean().sort_values(ascending=False)

# Seleccionar los top 10 parámetros
top_10_parametros = parametros_influencia.head(10)

# Mostrar el resultado
top_10_parametros

TypeError: agg function failed [how->mean,dtype->object]

Todos estos parámetros tienen un valor promedio de "IrcaPromedio" de aproximadamente 26.82, lo que sugiere una influencia significativa en la calidad del agua según este índice

In [27]:

# Filtrar el dataframe para incluir solo las filas correspondientes a los top 10 parámetros
df_filtrado = data[data['NombreParametroAnalisis2'].isin(top_10_parametros.index)]

# Verificar el resultado mostrando las primeras filas y la nueva cantidad de filas
df_filtrado.head(), df_filtrado.shape

(          Año NombreDepartamento NombreMunicipio IrcaMinimo2 IrcaMaximo  \
 18 2010-01-01            Bolivar        El Guamo           0        100
 19 2010-01-01            Bolivar        El Guamo           0        100
 20 2010-01-01            Bolivar        El Guamo           0        100
 23 2010-01-01            Bolivar        El Guamo           0        100
 24 2010-01-01            Bolivar        El Guamo           0        100

     IrcaPromedio NombreParametroAnalisis2  MuestrasEvaluadas  \
 18           NaN             Hierro total                 67
 19           NaN                 Magnesio                 67
 20           NaN                Manganeso                 67
 23           NaN                   Niquel                 67
 24           NaN                 Nitratos                 67

     MuestrasTratadas  MuestrasSinTratar  NumeroParametrosMinimo  \
 18                67                  0                       2
 19                67                  0                       2
 20                67                  0                       2
 23                67                  0                       2
 24                67                  0                       2

     NumeroParametrosMaximo  NumeroParametrosPromedio  NumeroMuestras  \
 18                       7                         2               0
 19                       7                         2               0
 20                       7                         2               0
 23                       7                         2               0
 24                       7                         2               0

     MuestrasNoAptas
 18                0
 19                0
 20                0
 23                0
 24                0  ,
 (77196, 15))

Hemos filtrado el dataset para dejar solo las filas correspondientes a los top 10 parámetros de análisis relacionados con la contaminación del agua y los demas han salido eliminados

In [28]:

# Definir una función para categorizar RangoIrca
def categorizar_rango_irca(irca):
    if irca <= 5:
        return 'Sin Riesgo'
    elif irca <= 14:
        return 'Riesgo Bajo'
    elif irca <= 35:
        return 'Riesgo Medio'
    elif irca <= 80:
        return 'Riesgo Alto'
    else:
        return 'Riesgo Inviable Sanitariamente'

# Aplicar la función para crear la columna RangoIrca
df_filtrado['RangoIrca'] = df_filtrado['IrcaPromedio'].apply(categorizar_rango_irca)

# Definir una función para categorizar NivelTratamiento
def categorizar_nivel_tratamiento(row):
    if row['MuestrasEvaluadas'] == 0:  # Evitar división por cero
        return 'No Aplicable'
    proporción = row['MuestrasTratadas'] / row['MuestrasEvaluadas']
    if proporción == 1:
        return 'Total'
    elif proporción >= 0.75:
        return 'Alto'
    elif proporción >= 0.5:
        return 'Moderado'
    else:
        return 'Bajo'

# Aplicar la función para crear la columna NivelTratamiento
df_filtrado['NivelTratamiento'] = df_filtrado.apply(categorizar_nivel_tratamiento, axis=1)

# Mostrar las nuevas columnas y el resultado
df_filtrado[['IrcaPromedio', 'RangoIrca', 'MuestrasEvaluadas', 'MuestrasTratadas', 'NivelTratamiento']].head()

C:\Users\USUARIO\AppData\Local\Temp\ipykernel_7456\3376519620.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtrado['RangoIrca'] = df_filtrado['IrcaPromedio'].apply(categorizar_rango_irca)
C:\Users\USUARIO\AppData\Local\Temp\ipykernel_7456\3376519620.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtrado['NivelTratamiento'] = df_filtrado.apply(categorizar_nivel_tratamiento, axis=1)

,IrcaPromedio,RangoIrca,MuestrasEvaluadas,MuestrasTratadas,NivelTratamiento
18,NaN,Riesgo Inviable Sanitariamente,67,67,Total
19,NaN,Riesgo Inviable Sanitariamente,67,67,Total
20,NaN,Riesgo Inviable Sanitariamente,67,67,Total
23,NaN,Riesgo Inviable Sanitariamente,67,67,Total
24,NaN,Riesgo Inviable Sanitariamente,67,67,Total

Hemos creado las siguientes nuevas columnas en el dataset:

RangoIrca: Categoriza el riesgo basado en el promedio de Irca, con las categorías "Sin Riesgo", "Riesgo Bajo", "Riesgo Medio", "Riesgo Alto" y "Riesgo Inviable Sanitariamente".

NivelTratamiento: Indica el nivel de tratamiento de las muestras basado en la proporción de muestras tratadas respecto al total evaluado, con categorías "No Aplicable" (cuando no hay muestras evaluadas), "Total" (100% de las muestras tratadas), "Alto", "Moderado" y "Bajo".

Estas nuevas columnas permiten comprender mejor el nivel de riesgo y tratamiento de las aguas evaluadas.

In [ ]:
# Crear columna EficienciaTratamiento basada en la proporción de muestras no aptas
df_filtrado['EficienciaTratamiento'] = (df_filtrado['MuestrasEvaluadas'] - df_filtrado['MuestrasNoAptas']) / df_filtrado['MuestrasEvaluadas']
df_filtrado['EficienciaTratamiento'] = df_filtrado['EficienciaTratamiento'].fillna(1)  # Rellenar NaN con 1 para casos donde no aplica

# Crear columna CoberturaAnalisis basada en el número de parámetros evaluados sobre el posible máximo
max_parametros = df_filtrado['NumeroParametrosMaximo'].max()  # Asumimos el máximo encontrado como posible máximo
df_filtrado['CoberturaAnalisis'] = df_filtrado['NumeroParametrosPromedio'] / max_parametros

# Mostrar las nuevas columnas para verificar
df_filtrado[['RangoIrca', 'NivelTratamiento', 'EficienciaTratamiento', 'CoberturaAnalisis']].head()

In [ ]:
# Eliminar las columnas especificadas
columnas_a_eliminar = ['MuestrasTratadas', 'MuestrasEvaluadas', 'MuestrasNoAptas',
                      'NumeroParametrosMinimo', 'NumeroParametrosMaximo']
df_reducido = df_filtrado.drop(columns=columnas_a_eliminar)

# Mostrar las primeras filas del dataframe resultante para verificar
df_reducido.head()

In [ ]:
# Sube el nuevo dataset a la base de datos en una nueva tabla
data.to_sql('table_water_cleaned', con=engine, if_exists='replace', index=False)

363163

In [ ]:
# Exportar el nuevo archivo limpio.
data.to_csv('ultimate_data_cleaned.csv', index=False)