In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine
import json
import psycopg2

In [1]:
def read_db_water():
    with open('db_config.json') as file:
        db_config = json.load(file)

    engine = create_engine(f'postgresql+psycopg2://{db_config["user"]}:{db_config["password"]}@{db_config["host"]}:5432/{db_config["dbname"]}')

    water = pd.read_sql('SELECT * FROM water_table', engine)

    print(water.head())

read_db_water()

          Año NombreDepartamento  Div_dpto NombreMunicipio  Divi_muni  \
0  2010-01-01            Bolívar        13        El Guamo      13248
1  2010-01-01            Bolívar        13        El Guamo      13248
2  2010-01-01            Bolívar        13        El Guamo      13248
3  2010-01-01            Bolívar        13        El Guamo      13248
4  2010-01-01            Bolívar        13        El Guamo      13248

   IrcaMinimo  IrcaMaximo  IrcaPromedio NombreParametroAnalisis2  \
0         0.0       100.0         37.32        Alcanilidad Total
1         0.0       100.0         37.32                 Aluminio
2         0.0       100.0         37.32                 Arsénico
3         0.0       100.0         37.32                   Cadmio
4         0.0       100.0         37.32                   Calcio

   MuestrasEvaluadas  MuestrasTratadas  MuestrasSinTratar  \
0                 67                67                  0
1                 67                67                  0
2                 67                67                  0
3                 67                67                  0
4                 67                67                  0

   NumeroParametrosMinimo  NumeroParametrosMaximo  NumeroParametrosPromedio  \
0                       2                       7                         2
1                       2                       7                         2
2                       2                       7                         2
3                       2                       7                         2
4                       2                       7                         2

   ResultadoMinimo  ResultadoMaximo  ResultadoPromedio
0             23.0             23.0               23.0
1              NaN              NaN                NaN
2              NaN              NaN                NaN
3              NaN              NaN                NaN
4             14.0             14.0               14.0